.no-gem {
  display: none;
}

.gem-blue {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0px;
  border-radius: 2px;
  background-color: #00DBB9;
  border-top: 7px solid #35f4d6;
  border-right: 7px solid #00DBB9;
  border-bottom: 7px solid #289f8d;
  border-left: 7px solid #289f8d;
  cursor: pointer;
  /*animation-play-state:paused;*/
  /*-webkit-animation: out 3s;*/
  -webkit-transition: -webkit-transform 1.0s ease-in-out;
}

.gem-blue:hover {
  /*transition: all 2.5s ease;
  animation: rotate 5s infinite linear;
  animation-play-state: running;*/
  /*-webkit-animation: in 1s;*/
  -webkit-transform: rotate(225deg);
}

.gem-blue .shadow {
  position: absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  z-index:-1;
  filter: blur(20px);
  transition: filter 1s ease;
}

.gem-red {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  border-radius: 2px;
  background-color: rgba(207, 9, 9, 0.65);
  border-top: 7px solid #ee866a;
  border-right: 7px solid #db3b00;
  border-bottom: 7px solid #9f2828;
  border-left: 7px solid #9f2828;
  cursor: pointer;
  /*animation: rotate 5s infinite linear;*/
   /*-webkit-animation: out 3s alternate;*/
  /*-webkit-animation-fill-mode: forwards;*/
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
}

.gem-red:hover {
    -webkit-transform: rotate(135deg);
  /*-webkit-animation: in 2s alternate;
  -webkit-animation-delay: 0.1s;*/
  /*animation-play-state: running;*/
}

.gem-red .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(20px);
  transition: filter 1s ease;
}

@-webkit-keyframes in {
    /*from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(45deg);}*/

    0%{
      -webkit-transform: rotate(0deg);
    }
    50%{
      -webkit-transform: rotate(22deg animation-fill-mode: forwards);
    }
    100%{
      -webkit-transform: rotate(45deg) ;
    }
}

@-webkit-keyframes out {
    0%   { -webkit-transform: rotate(45deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


















/*@gemcolor: #00DBB9;

@top:lighten(@gemcolor,35%);
@right:lighten(@gemcolor,2%);
@bottom:darken(@gemcolor,15%);
@left:darken(@gemcolor,2%);

.gem {
  width: 30px;
  height: 30px;
  position: relative;
  top:0;
  border-radius: 2px;
  background-color: #00DBB9;
  border-top: 7px solid #35f4d6;
  border-right: 7px solid #00DBB9;
  border-bottom: 7px solid #289f8d;
  border-left: 7px solid #289f8d;
  transition: all .5s ease;
  animation: rotate 5s infinite linear;
  animation-play-state:paused;
}
.shadow {
  position: absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,122,255,.5);
  z-index:-1;
  filter: blur(20px);
  transition: filter 1s ease;
}

.container:hover{
  .gem{
    //top:-5px;
    animation-play-state: running;
  }
  .shadow{
    filter:blur(40px);
    background-color: rgba(0,122,255,.7);
  }
}*/
